@font-face {
    font-family: poligon;
    src: url(../fonts/Poligon-Light.ttf);
    font-display: swap
}

@font-face {
    font-family: "poligon bold";
    src: url(../fonts/Poligon-Bold.ttf);
    font-display: swap
}

body {
    font-family: poligon, sans-serif;
    text-align: center;
    color: #323232;
    font-size: 20px;
    box-sizing: border-box
}

body h1,
h2,
h3,
h4,
h5 {
    font-family: poligon, Verdana, sans-serif
}

body * a {
    text-decoration: none;
    color: #323232
}

button.btn {
    font-size: 18px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 3px solid transparent;
    font-size: 1.1em;
    background-color: #24abc5;
    margin-top: 10%;
    color: #fff;
    outline: none
}

button.btn:focus {
    outline: none
}

button.btn.dos {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #323232;
    font-size: 1.1em;
    background-color: #b7bcbb;
    margin-top: 10%;
    color: #fff;
    outline: none
}

button.btn:hover {
    font-size: 1.3em
}

button.btn.dos:hover {
    border: 3px solid transparent
}

.underline {
    border-bottom: 3px solid #24abc5
}

.emphasis-blue {
    color: #24abc5
}

.title {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "poligon bold"
}

.title-m {
    font-size: 2em
}

.title-s {
    font-size: 1.3em
}

@media (max-width: 770px) {
    .title {
        font-size: 1.5em
    }
    .title-m {
        font-size: 1.3em
    }
    .title-s {
        font-size: 1.1px
    }
}

body header.header-main {
    background-color: #fefefe;
    position: fixed;
    flex-wrap: nowrap;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-content: center;
    overflow: visible;
    z-index: 31
}

header picture.logotipo {
    max-width: 150px;
    margin-left: 5%
}

header .logotipo img {
    width: 100%;
    max-width: 200px
}

header nav.header-nav {
    min-width: 60%;
    margin: 15px 5% 0 2%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    min-width: 60%;
    margin-right: 5%
}

header a.nav-item {
    border-right: 3px solid transparent;
    padding: 8px;
    height: 1.1em;
    transition: ease-in-out 200ms;
    display: block
}

header a.nav-item:not(.active):hover {
    border-right: 3px solid #323232
}

a.active {
    color: #24abc5;
    font-family: "poligon bold";
    border-left: 3px solid transparent
}

nav.toolbar {
    position: absolute;
    z-index: 30;
    display: block;
    width: 40%;
    right: 0;
    top: 100%;
    background-color: #fefefe
}

nav.toolbar a.nav-item {
    padding: 15px 10px;
    margin: 5px 0;
    border-bottom: 3px solid transparent
}

nav.toolbar a.nav-item:not(.active):hover {
    padding: 15px 10px;
    margin: 5px 0;
    font-size: 1.15em;
    transition: ease-in-out 200ms;
    border-bottom: 3px solid #323232;
    background-color: #b2b7bb;
    color: #fefefe
}

.exit-menu {
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: -10px;
    right: 25px
}

buttom.btn {
    margin-top: 25%
}

header svg.nav-bottom {
    margin-right: 5%;
    width: 7%;
    transition: ease-in-out 400ms
}

svg.nav-bottom.inv {
    transform: rotate(90deg)
}

@media (min-width:830px) {
    header svg.nav-bottom {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
    header nav.navbottom {
        width: 65%
    }
    header picture.logotipo {
        width: 30%
    }
    header picture.logotipo svg {
        min-width: 150px
    }
}

@media (max-width:830px) {
    header nav.header-nav {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
}

header.blog-portada {
    min-height: 100vh;
    padding-left: 5%;
    background-color: #323232;
    background-image: url(../imgs/blog/portada-blog-big.jpg);
    background-size: cover;
    color: #f5f5f5;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.blog-portada header {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

@media (max-width: 425px) {
    header.blog-portada {
        background-image: url(../imgs/blog/portada-blog-small.jpg);
        background-size: cover
    }
}

section.seccion {
    overflow: hidden;
    min-height: 40vh;
    text-align: left;
    color: #323232;
    padding: 80px 5% 40px
}

section.seccion .articulos-recientes {
    display: flex;
    justify-content: space-around
}

section.soporte {
    color: #fefefe;
    background-color: #323232;
    background-image: url(../imgs/fondos/trama-unanimated.svg);
    background-repeat: no-repeat
}

section.soporte .title-m {
    background-color: #323232
}

section.seccion .articulos-recientes article.article-blog {
    width: 25%;
    margin: 5px auto
}

section a.emphasis-blue {
    font-weight: 700;
    display: inline-block;
    margin-top: 50px;
    border-bottom: solid 2px transparent
}

section a.emphasis-blue:hover {
    border-bottom: solid 2px #24abc5
}

@media (max-width: 770px) {
    section.soporte {
        background-image: url(../imgs/trama-unanimated.svg);
        background-repeat: repeat;
        background-size: 200%
    }
}

.member {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: #000;
    position: relative;
    border-radius: 5px
}

.member .member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: .2s
}

.member header {
    text-align: left;
    padding-left: 5%;
    min-height: 20%;
    font-size: 1.5rem;
    position: absolute;
    color: #24abc5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #323232
}

.member a {
    color: #f5f5f5
}

.member .thumb {
    width: 100%
}

.member .member-info-content {
    margin-top: -50px;
    transition: margin .2s
}

.member:hover .member-info {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: .4s
}

.member:hover .member-info-content {
    margin-top: 0;
    transition: margin .4s
}

.member h4 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff
}

.member span {
    display: block;
    font-size: 1rem;
    color: #fff
}

@media (max-width: 1024px) {
    .member header {
        padding-left: 5%;
        max-height: 40%;
        font-size: 1.2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #323232
    }
}

@media (max-width: 768px) {
    section.seccion .articulos-recientes {
        flex-wrap: wrap;
        justify-content: flex-start
    }
    section.seccion .articulos-recientes article.article-blog {
        width: 40%;
        margin: 5px 15px
    }
}

@media (max-width: 425px) {
    section.seccion .articulos-recientes {
        flex-wrap: wrap;
        justify-content: center
    }
    section.seccion .articulos-recientes article.article-blog {
        width: 90%;
        margin: 5px 15px
    }
}

footer {
    background-color: #323232;
    color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding-top: 30px
}

footer section {
    margin-left: 10px
}

footer section.enterprise {
    padding: 0 18px;
    margin: 0;
    min-width: 30%;
    text-align: left
}

footer .enterprise svg {
    width: 80%
}

footer .enterprise p.description span.titulo {
    font-size: 1.5em;
    display: block
}

footer section.menu .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.contact .title-m {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.enterprise header p.description {
    margin: 0
}

footer section.menu {
    min-width: 25%
}

footer .menu ul {
    text-align: left;
    padding: 0 15% 18px;
    margin: 0;
    color: #f2f2f2
}

footer .menu ul li {
    list-style: none;
    margin: 0;
    padding: 0
}

footer .menu ul li:before {
    content: "+";
    color: #24abc5;
    font-size: 1.8em;
    font-weight: bolder
}

footer .menu ul li:hover:before {
    content: "+ ";
    color: #24abc5
}

footer .menu ul li.contact-prog {
    margin-top: 25%;
    font-size: .8em;
    color: #fff
}

footer section.menu ul.menu a {
    color: #fff
}

@media (max-width: 425px) {
    footer {
        flex-direction: column;
        padding-left: 5%
    }
    footer section {
        text-align: left;
        margin-top: 50px
    }
    footer section .title-m {
        margin-left: 20px
    }
}

div.wsbtn {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 15px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    transition: ease 400ms
}

div.wsbtn svg {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0 auto
}