@font-face {
    font-family: poligon;
    src: url(../fonts/Poligon-Light.ttf);
    font-display: swap
}

@font-face {
    font-family: "poligon bold";
    src: url(../fonts/Poligon-Bold.ttf);
    font-display: swap
}

body {
    font-family: poligon, sans-serif;
    text-align: center;
    color: #323232;
    font-size: 20px;
    box-sizing: border-box
}

body h1,
h2,
h3,
h4,
h5 {
    font-family: poligon, Verdana, sans-serif
}

body * a {
    text-decoration: none;
    color: #323232
}

button.btn {
    font-size: 18px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 3px solid transparent;
    font-size: 1.1em;
    background-color: #24abc5;
    margin-top: 10%;
    color: #fff;
    outline: none
}

button.btn:focus {
    outline: none
}

button.btn.dos {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #323232;
    font-size: 1.1em;
    background-color: #b7bcbb;
    margin-top: 10%;
    color: #fff;
    outline: none
}

button.btn:hover {
    font-size: 1.3em
}

button.btn.dos:hover {
    border: 3px solid transparent
}

.underline {
    border-bottom: 3px solid #24abc5
}

.emphasis-blue {
    color: #24abc5
}

.title {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "poligon bold"
}

.title-m {
    font-size: 2em
}

.title-s {
    font-size: 1.3em
}

body header.header-main {
    background-color: #fefefe;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-content: center;
    overflow: visible;
    z-index: 31
}

header picture.logotipo {
    max-width: 150px;
    margin-left: 5%
}

header .logotipo img {
    width: 100%;
    max-width: 200px
}

header nav.header-nav {
    min-width: 60%;
    margin: 15px 5% 0 2%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    min-width: 60%;
    margin-right: 5%
}

header a.nav-item {
    border-right: 3px solid transparent;
    padding: 8px;
    height: 1.1em;
    transition: ease-in-out 200ms;
    display: block
}

header a.nav-item:not(.active):hover {
    border-right: 3px solid #323232
}

a.active {
    color: #24abc5;
    font-family: "poligon bold";
    border-left: 3px solid transparent
}

nav.toolbar {
    position: absolute;
    z-index: 30;
    display: block;
    width: 40%;
    right: 0;
    top: 100%;
    background-color: #fefefe
}

nav.toolbar a.nav-item {
    padding: 15px 10px;
    margin: 5px 0;
    border-bottom: 3px solid transparent
}

nav.toolbar a.nav-item:not(.active):hover {
    padding: 15px 10px;
    margin: 5px 0;
    font-size: 1.15em;
    transition: ease-in-out 200ms;
    border-bottom: 3px solid #323232;
    background-color: #b2b7bb;
    color: #fefefe
}

.exit-menu {
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: -10px;
    right: 25px
}

buttom.btn {
    margin-top: 25%
}

header svg.nav-bottom {
    margin-right: 5%;
    width: 7%;
    transition: ease-in-out 400ms
}

svg.nav-bottom.inv {
    transform: rotate(90deg)
}

section.profesionals-section {
    overflow: hidden;
    min-height: 90vh;
    text-align: left;
    color: #fefefe;
    background-color: #323232;
    background-image: url(../imgs/fondos/trama-unanimated.svg);
    background-repeat: no-repeat;
    padding: 80px 5% 40px
}

section.profesionals-section h3.title {
    font-weight: 400
}

section.profesionals-section header {
    display: flex;
    align-content: center;
    background-color: rgba(50, 50, 50, 1)
}

header svg.trama {
    width: 40%;
    padding-top: 25px;
    background-color: none;
    opacity: 1;
    fill: #f2f2f2;
    position: absolute;
    z-index: 1;
    right: 0;
    opacity: .05
}

section h3 {
    padding-top: 25px
}

section p {
    margin-top: 5%
}

section.profesionals-section p {
    background-color: rgba(50, 50, 50, 1)
}

body section.conection {
    min-height: 100vh;
    background-image: url(../imgs/fondos/fondo-conexion.jpg);
    background-position: center;
    background-size: cover;
    background-color: #24abc5;
    padding-bottom: 50px
}

@media (max-height:425px) {
    body section.conection {
        background-image: url(../imgs/fondos/fondo-conexion-small.jpg);
        background-position: center;
        background-size: cover
    }
}

section.conection header main {
    padding: 4% 2% 2%;
    text-align: left
}

section.conection header main p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5%
}

section.conection header main h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    color: #f2f2f2
}

section.conection main p {
    font-size: 1.2em;
    color: #f2f2f2;
    padding-left: 5%;
    text-align: left
}

section.conection section.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 0 auto
}

section.conection section img.imgs-conection {
    width: 100%;
    max-width: 50vw;
    border-radius: 5px;
    border-bottom: 2px solid #b2b7bb
}

section.conection main figure {
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    background-color: #f0f0f0;
    padding: 5px;
    max-width: 35%;
    margin: 2% auto
}

img.imgs-conection {
    max-width: 220px
}

figcaption {
    background-color: #f0f0f0;
    color: #323232;
    font: poligon;
    font-weight: 800;
    padding: 5px;
    text-align: center
}

section.conection main section.conection-section {
    font-size: 24px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
    width: 70%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center
}

section.conection main section.conection-section picture {
    min-width: 30%;
    align-self: center
}

section.conection main section.conection-section picture img {
    max-width: 90%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, .5)
}

section.conection main section.conection-section p {
    width: 60%;
    padding-left: 25px
}

section.att {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #fcfcfc;
    padding-left: 5%;
    box-sizing: border-box
}

section.att header {
    min-width: 100%;
    padding: 5px 0 5px 5px
}

section.att header h3 {
    margin-top: 25px;
    padding: 5px 0 5px 5px
}

section.att header {
    width: 70%
}

section.att main {
    text-align: left;
    width: 70%;
    padding-left: 0
}

section.att main p {
    width: 70%;
    font-size: 1.2em;
    font-size: 1.4rem;
    text-align: left;
    margin-top: 10px;
    padding-right: 10px
}

section.att main ul {
    padding: 0;
    font-size: 1.3em;
    padding-left: 5%
}

section.att main ul li p {
    padding: 0;
    padding-top: 18px;
    margin: 0;
    display: inline;
    color: #323232
}

section.att main ul li {
    margin: 20px 0;
    padding-bottom: 3%
}

section.att main ul li:hover {
    list-style: none
}

section.att main ul li:hover:before {
    content: "+ ";
    font-size: 1.2em;
    padding-bottom: 0;
    color: #24abc5
}

section.att aside.aside-att {
    min-width: 30%;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column
}

section.att aside article {
    width: 80%;
    margin: 5px auto
}

.member {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: #000;
    position: relative;
    border-radius: 5px
}

.member .member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: .2s
}

.member header {
    text-align: left;
    padding-left: 5%;
    max-height: 35%;
    font-size: 1.5rem;
    position: absolute;
    color: #24abc5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #323232
}

.member a {
    color: #f5f5f5
}

.member .thumb {
    width: 100%
}

.member .member-info-content {
    margin-top: -50px;
    transition: margin .2s
}

.member:hover .member-info {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: .4s
}

.member:hover .member-info-content {
    margin-top: 0;
    transition: margin .4s
}

.member h4 {
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff
}

.member span {
    display: block;
    font-size: 1rem;
    color: #fff
}

.btn-targetas {
    border: none;
    background: none;
    font-size: 5em;
    width: 20%;
    height: 120px
}

.btn-targetas:hover {
    color: #24abc5
}

.btn-targetas:focus {
    outline: none
}

section.testimonios .carousel-p {
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.testimonios main #tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

#targetas article {
    transition: ease-in-out 550ms;
    width: 80%;
    margin: 0 auto;
    max-width: 320px;
    box-shadow: 5px 5px 5px #b2b7bb;
    padding: 10px;
    display: none
}

#targetas article img {
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 8px;
    width: 100px
}

#targetas article main .testimonials-text {
    text-align: left;
    padding-left: 5px
}

#targetas article main .testimonials-text .test-quote {
    width: 20px;
    display: inline;
    fill: #24abc5
}

#targetas article main .testimonials-text .a {
    text-align: left;
    float: right
}

#targetas article span svg:hover {
    fill: #24abc5
}

#targetas article span svg {
    margin: 10px 15px;
    width: 20px
}

#targetas article span svg.b-testa {
    width: 13px
}

#targetas article.active {
    display: block
}

section.CTA {
    padding: 25px 5%;
    background-color: #323232;
    background-repeat: no-repeat;
    background-image: url(../imgs/fondos/trama.svg);
    color: #f2f2f2;
    text-align: left
}

section.CTA header {
    margin: 0;
    text-align: left
}

section.CTA header h3 {
    width: auto;
    background-color: #323232;
    margin: 0
}

section.CTA main p.description {
    margin: 10% 0 0;
    font-size: 1.3em;
    background-color: #323232
}

section.CTA button {
    margin-right: 0;
    margin-left: 25%;
    font-weight: 700
}

body .main {
    padding: 5%
}

main.bussines {
    box-sizing: border-box;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    padding: 25px 2%
}

main.bussines header {
    text-align: left;
    margin-left: 5%
}

main.main {
    padding: 50px 1%
}

article.price-target {
    width: 60%;
    min-width: 210px;
    padding: 3%;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 3px 3px 5px #b7bcbb;
    background-color: #f0f0f0;
    background-image: url(../imgs/fondos/trama.svg);
    background-repeat: no-repeat;
    background-position: 50% 0
}

article.price-target header.title-plan {
    width: 100%;
    margin-bottom: 20px;
    display: flex
}

article.price-target .title-plan img,
article.price-target .title-plan svg {
    min-width: 20%;
    margin-right: 25px;
    height: 150px
}

article.price-target .title-plan .title-s {
    display: inline-block;
    margin-top: 0;
    margin-left: 5%;
    width: 65%;
    font-size: 1.8em
}

article.price-target .description-plan {
    width: 75%;
    margin-left: auto;
    text-align: left
}

article.price-target .description-plan p {
    padding-right: 5px
}

article.price-target .description-plan .features {
    width: 80%
}

article.price-target .description-plan .features img,
article.price-target .description-plan .features svg {
    width: 20%;
    margin: 0 10px
}

.btn-section {
    width: 100%;
    padding: 10px;
    text-align: right
}

.price-target svg {
    position: relative;
    bottom: 0;
    fill: rgba(50, 50, 50, .5)
}

.price-target.premiun {
    background-color: #323232;
    color: #f2f2f2
}

.price-target.premiun h3,
.price-target.premiun p {
    background-color: #323232
}

section.about {
    overflow: hidden
}

section.about .target {
    width: 70%;
    margin: 10% auto
}

section.about header h3 {
    font-size: 2.4em;
    display: inline-block
}

section.about .target main {
    display: flex;
    margin-top: 40px
}

section.about .target main img {
    max-width: 200px;
    max-height: 200px
}

section.about .target main article {
    width: 80%
}

section.about .target main article p {
    font-size: 1.8em;
    margin-right: 10px;
    width: 90%;
    margin-left: 50px
}

section.about .target main article p.name {
    font-size: 1.2em;
    text-align: left
}

section.about header {
    text-align: left;
    padding-left: 25px
}

section.about .socials {
    float: left;
    margin-bottom: 10%;
    margin-left: 10%;
    text-align: left;
    width: 100%
}

section.about .socials svg {
    max-width: 60px;
    display: inline-block;
    margin: 10px 25px
}

section.about .socials svg:hover {
    fill: #3299cc
}

section.about .socials .face {
    max-width: 35px
}

section.about button.btn {
    margin: 0;
    float: right
}

footer {
    background-color: #323232;
    color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding-top: 30px
}

footer section {
    margin-left: 10px
}

footer section.enterprise {
    padding: 0 18px;
    margin: 0;
    min-width: 30%;
    text-align: left
}

footer .enterprise svg {
    width: 80%
}

footer .enterprise p.description span.titulo {
    font-size: 1.5em;
    display: block
}

footer section.menu .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.contact .title-m {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.enterprise header p.description {
    margin: 0
}

footer section.menu {
    min-width: 25%
}

footer .menu ul {
    text-align: left;
    padding: 0 15% 18px;
    margin: 0;
    color: #f2f2f2
}

footer .menu ul li {
    list-style: none;
    margin: 0;
    padding: 0
}

footer .menu ul li:before {
    content: "+";
    color: #24abc5;
    font-size: 1.8em;
    font-weight: bolder
}

footer .menu ul li:hover:before {
    content: "+ ";
    color: #24abc5
}

footer .menu ul li.contact-prog {
    margin-top: 25%;
    font-size: .8em;
    color: #fff
}

footer section.menu ul.menu a {
    color: #fff
}

@media (max-width: 425px) {
    section.conection main section.conection-section {
        flex-direction: column;
        width: 80%;
        padding: 10px
    }
    section.conection main section.conection-section picture,
    section.contection section.conection-section picture img {
        text-align: center;
        margin: 2px auto
    }
    section.conection main section.conection-section p.description {
        width: 100%;
        padding-left: 0
    }
    section.profesionals-section {
        background-image: none
    }
    section.att aside.aside-att {
        display: none
    }
    .about .target {
        width: 90%!important
    }
    .about main {
        flex-direction: column;
        font-size: .8em;
        text-align: left;
        width: 100%
    }
    .about header h3 {
        font-size: 1em
    }
    .about main img {
        margin: 0 auto;
        border-radius: 100%;
        max-width: 150px;
        max-height: 150px;
        text-align: center
    }
    .about main article p.description {
        width: 90%
    }
    .about .btn.dos {
        float: none
    }
    .about .socials {
        width: 100%;
        margin-top: 25px;
        padding: 5px 25px
    }
    .about .socials svg {
        width: 40px
    }
    .about .socials svg.face {
        width: 25px
    }
    footer {
        flex-direction: column;
        padding-left: 5%
    }
    footer section {
        text-align: left;
        margin-top: 50px
    }
    footer section .title-m {
        margin-left: 20px
    }
}

@media (max-width:770px) {
    section.profesionals-section header {
        margin-bottom: 50px
    }
    section.profesionals-section header section h3 {
        width: 70%
    }
    section.att main {
        width: 90%
    }
    section.att main p {
        min-width: 90%
    }
    section.att aside.aside-att {
        display: none
    }
    header nav.header-nav,
    header nav.header-nav span {
        display: none
    }
    section.att {
        flex-direction: column
    }
    section.att aside {
        width: 100%
    }
    article.price-target {
        width: 60%;
        font-size: 16px;
        margin-top: 30px;
        background-position: 50% 0
    }
    article.price-target header.title-plan {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center
    }
    article.price-target .title-plan img,
    article.price-target .title-plan svg {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto
    }
    article.price-target .title-plan .title-s {
        display: inline-block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        font-size: 1.5em
    }
    article.price-target .description-plan {
        width: 90%;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        text-align: left
    }
    article.price-target .description-plan p {
        padding-right: 5px
    }
    article.price-target .description-plan .features {
        width: 100%;
        text-align: center
    }
    article.price-target .description-plan .features img {
        width: 15%;
        margin: 0 5%
    }
    .btn-section {
        width: 90%;
        margin: 0 auto;
        text-align: center
    }
    .btn-section .btn {
        width: 100%;
        margin-left: auto;
        margin-right: auto
    }
    .price-target svg {
        position: relative;
        bottom: 0;
        fill: rgba(50, 50, 50, .5)
    }
    .price-target.premiun {
        background-color: #323232;
        color: #f2f2f2
    }
    .price-target.premiun h3,
    .price-target.premiun p {
        background-color: #323232
    }
    .title {
        font-size: 1.5em
    }
    .title-m {
        font-size: 1.3em
    }
    .title-s {
        font-size: 1.1px
    }
}

@media (min-width: 425px) {
    section.conection main p {
        margin-bottom: 2%
    }
    section.profesionals-section p.description {
        font-size: 1.2em;
        margin-top: 10%
    }
}

@media (min-width:771px) {
    header svg.nav-bottom {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
    header nav.navbottom {
        width: 65%
    }
    header picture.logotipo {
        width: 30%
    }
    header picture.logotipo svg {
        min-width: 150px
    }
    button.btn,
    button.btn.dos {
        width: 40%
    }
    section.profesionals-section p.description {
        font-size: 1.5em;
        margin-top: 10%
    }
    section header svg.trama {
        bottom: 0
    }
}

div.wsbtn {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 15px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    transition: ease 400ms
}

div.wsbtn svg {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0 auto
}