@font-face {
    font-family: poligon;
    src: url(../fonts/Poligon-Light.ttf);
    font-display: swap
}

@font-face {
    font-family: "poligon bold";
    src: url(../fonts/Poligon-Bold.ttf);
    font-display: swap
}

body {
    font-family: poligon, sans-serif;
    text-align: center;
    color: #323232;
    font-size: 20px;
    line-height: 1.5;
    box-sizing: border-box
}

button.btn {
    font-size: 18px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 3px solid transparent;
    font-size: 1.1em;
    background-color: #24abc5;
    margin-top: 10%;
    color: #fff;
    outline: none
}

button.btn:focus {
    outline: none
}

button.btn:hover {
    font-size: 1.3em
}

body h1,
h2,
h3,
h4,
h5 {
    font-family: poligon, Verdana, sans-serif
}

body * a {
    text-decoration: none;
    color: #323232
}

.title {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "poligon bold"
}

.title-m {
    font-size: 1.5em
}

.title-s {
    font-size: 1.3em
}

.underline {
    border-bottom: 3px solid #24abc5
}

.emphasis-blue {
    color: #24abc5
}

body header.header-main {
    background-color: #fefefe;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-content: center;
    overflow: visible;
    z-index: 31
}

header picture.logotipo {
    max-width: 150px;
    margin-left: 5%
}

header .logotipo img {
    width: 100%;
    max-width: 200px
}

header nav.header-nav {
    min-width: 60%;
    margin: 15px 5% 0 2%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    min-width: 60%;
    margin-right: 5%
}

header a.nav-item {
    border-right: 3px solid transparent;
    padding: 8px;
    height: 1.1em;
    transition: ease-in-out 200ms;
    display: block
}

header a.nav-item:not(.active):hover {
    border-right: 3px solid #323232
}

a.active {
    color: #24abc5;
    font-family: "poligon bold";
    border-left: 3px solid transparent
}

nav.toolbar {
    position: absolute;
    z-index: 30;
    display: block;
    width: 40%;
    right: 0;
    top: 100%;
    background-color: #fefefe
}

nav.toolbar a.nav-item {
    padding: 15px 10px;
    margin: 5px 0;
    border-bottom: 3px solid transparent
}

nav.toolbar a.nav-item:not(.active):hover {
    padding: 15px 10px;
    margin: 5px 0;
    font-size: 1.15em;
    transition: ease-in-out 200ms;
    border-bottom: 3px solid #323232;
    background-color: #b2b7bb;
    color: #fefefe
}

.exit-menu {
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: -10px;
    right: 25px
}

buttom.btn {
    margin-top: 25%
}

header svg.nav-bottom {
    margin-right: 5%;
    width: 7%;
    transition: ease-in-out 400ms
}

svg.nav-bottom.inv {
    transform: rotate(90deg)
}

@media (min-width:771px) {
    header svg.nav-bottom {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
    header nav.navbottom {
        width: 65%
    }
    header picture.logotipo {
        width: 30%
    }
    header picture.logotipo svg {
        min-width: 150px
    }
}

@media (max-width:770px) {
    header nav.header-nav {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
}

body #sliderWrapp {
    height: 100vh;
    overflow-y: hidden;
    background-color: #323232;
    scrollbar-width: none
}

body #sliderWrapp::-webkit-scrollbar {
    display: none
}

#sliderWrapp .item {
    padding-top: 50px;
    overflow: hidden;
    animation-duration: 2s;
    width: 100%;
    height: 100%;
    background-size: cover
}

#sliderWrapp #servicio {
    background: url(../imgs/about-us/servicio.big.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width: 425px) {
    #sliderWrapp #servicio {
        background: url(../imgs/about-us/servicio.jpg)!important
    }
}

#sliderWrapp #AirFiber {
    background: url(../imgs/about-us/air-fiber.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width: 425px) {
    #sliderWrapp #AirFiber {
        background: url(../imgs/about-us/air-fiber-small-jpg.jpg)!important
    }
}

#sliderWrapp #Conexion {
    background: url(../imgs/about-us/slider-solucion.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width: 425px) {
    #sliderWrapp #Conexion {
        background: url(../imgs/about-us/slider-solucion-small.jpg)!important
    }
}

#sliderWrapp .item header {
    position: relative;
    top: 15%;
    right: 0;
    z-index: 5;
    width: 60%;
    text-align: right;
    margin-left: auto;
    padding-right: 50px;
    color: #323232
}

#sliderWrapp .item section {
    width: 100%;
    min-height: 20%;
    border-radius: 5px 5px 0 0;
    background-color: rgba(50, 50, 50, .6);
    position: relative;
    top: 70%;
    left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    color: #f5f5f5;
    text-align: left
}

#sliderWrapp .item section p {
    margin-left: 5%;
    text-align: left;
    width: 90%
}

@media (max-width:425px) {
    #sliderWrapp .item section {
        width: 100%;
        font-size: 1.1rem
    }
}

body section.title-banner {
    background-color: #323232;
    padding: 5px
}

body article.reseia {
    padding: 5% 5% 2%;
    min-height: 80vh
}

body article.reseia .historia {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between
}

article.reseia main.historia section {
    width: 50%;
    margin-right: 25px;
    border-right: 4px solid rgba(50, 50, 50, .6)
}

body article.reseia header {
    min-width: 100%;
    padding-bottom: 20px;
    text-align: left
}

article.reseia header h3 {
    margin: 0
}

body article.reseia .historia main.description {
    display: block;
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    margin: 0;
    text-align: left;
    padding: 2%;
    padding-right: 0;
    margin-right: -20px;
    scrollbar-width: none
}

.historia main.description::-webkit-scrollbar {
    display: none
}

article.reseia .historia .description p {
    width: 95%
}

body article.reseia .historia aside {
    width: 50%;
    padding-top: 25px;
    text-align: center;
    justify-self: center;
    align-self: flex-start
}

article.reseia .historia aside {
    width: 45%;
    text-align: center;
    align-self: flex-start
}

@media (max-width:425px) {
    article.reseia .historia {
        flex-direction: column
    }
    article.reseia .historia aside {
        width: 100%!important
    }
    article.reseia .historia aside svg {
        margin-right: auto;
        margin-left: auto
    }
}

.videos {
    padding: 5% 5% 8%;
    background-color: rgba(150, 150, 150, .3)
}

.videos header {
    text-align: left;
    margin-bottom: 25px
}

.videos .display {
    margin: auto;
    margin-top: 50px
}

.videos .display iframe {
    width: 100%;
    min-height: 550px
}

article.about-us article.desc-empresa,
article.about-us .valores {
    width: 70%;
    margin: 0 auto 25px;
    text-align: left
}

article.about-us article.valores header {
    text-align: left
}

article.about-us article.valores header h3 span,
article.about-us article.vision header h3 span,
article.about-us article.mision header h3 span {
    border-bottom: 3px solid #24abc5
}

article.about-us article.valores main {
    display: flex;
    flex-wrap: wrap
}

article.valores .valor {
    min-width: 200px;
    max-width: 200px;
    height: 150px;
    margin: 5%;
    background-color: #323232;
    color: #24abc5;
    border-radius: 5px
}

.valor .member {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: #000;
    position: relative;
    border-radius: 5px
}

.valor .member .member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: .2s
}

.valor .member header {
    text-align: left;
    padding-left: 5%;
    position: absolute;
    max-height: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #323232
}

.valor .member header span {
    font-size: 1.5rem;
    color: #24abc5
}

.valor .member a {
    color: #f5f5f5
}

.valor .member .thumb {
    width: 100%
}

.valor .member .member-info-content {
    margin-top: -50px;
    transition: margin .2s
}

.valor .member:hover .member-info {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: .4s
}

.valor .member:hover .member-info-content {
    margin-top: 0;
    transition: margin .4s
}

.valor .member h4 {
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff
}

.valor .member span {
    display: block;
    font-size: 1rem;
    color: #fff
}

@media (max-width:1024px) {
    article.valores main {
        justify-content: space-around
    }
    article.valores .valor {
        min-width: 200px
    }
}

@media (max-width:768px) {
    article.valores .valor {
        width: 40%;
        margin: 10%
    }
}

@media (max-width:425px) {
    article.valores .valor {
        width: 100%;
        margin: 20%
    }
    .valor .member header {
        text-align: left;
        padding-left: 5%;
        position: absolute;
        max-height: 20%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #323232
    }
    .valor .member header span {
        font-size: 1.5rem;
        color: #24abc5
    }
}

section.CTA {
    padding: 25px 5%;
    background-color: #323232;
    background-repeat: no-repeat;
    background-image: url(../imgs/fondos/trama.svg);
    color: #f2f2f2;
    text-align: left
}

section.CTA header {
    margin: 0;
    text-align: left
}

section.CTA header h3 {
    width: auto;
    background-color: #323232;
    margin: 0
}

section.CTA main p.description {
    margin: 10% 0 0;
    font-size: 1.3em;
    background-color: #323232
}

section.CTA button {
    margin-right: 0;
    margin-left: 25%;
    font-weight: 700
}

footer {
    background-color: #323232;
    color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding-top: 30px
}

footer section {
    margin-left: 10px
}

footer section.enterprise {
    padding: 0 18px;
    margin: 0;
    min-width: 30%;
    text-align: left
}

footer .enterprise svg {
    width: 80%
}

footer .enterprise p.description span.titulo {
    font-size: 1.5em;
    display: block
}

footer section.menu .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.contact .title-m {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.enterprise header p.description {
    margin: 0
}

footer section.menu {
    min-width: 25%
}

footer .menu ul {
    text-align: left;
    padding: 0 15% 18px;
    margin: 0;
    color: #f2f2f2
}

footer .menu ul li {
    list-style: none;
    margin: 0;
    padding: 0
}

footer .menu ul li:before {
    content: "+";
    color: #24abc5;
    font-size: 1.8em;
    font-weight: bolder
}

footer .menu ul li:hover:before {
    content: "+ ";
    color: #24abc5
}

footer .menu ul li.contact-prog {
    margin-top: 25%;
    font-size: .8em;
    color: #fff
}

footer section.menu ul.menu a {
    color: #fff
}

@media (max-width: 425px) {
    footer {
        flex-direction: column;
        padding-left: 5%
    }
    footer section {
        text-align: left;
        margin-top: 50px
    }
    footer section .title-m {
        margin-left: 20px
    }
}

div.wsbtn {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 15px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    transition: ease 400ms
}

div.wsbtn svg {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0 auto
}