@font-face {
    font-family: poligon;
    src: url(../fonts/Poligon-Light.ttf);
    font-display: swap
}

@font-face {
    font-family: "poligon bold";
    src: url(../fonts/Poligon-Bold.ttf);
    font-display: swap
}

@keyframes flotante {
    0% {
        transform: translateY(3px)
    }
    50% {
        transform: translateY(-3px)
    }
    100% {
        transform: translateY(3px)
    }
}

body {
    font-family: poligon, sans-serif;
    text-align: center;
    color: #323232;
    font-size: 20px;
    box-sizing: border-box
}

body h1,
h2,
h3,
h4,
h5 {
    font-family: poligon, Verdana, sans-serif
}

body * a {
    text-decoration: none;
    color: #323232
}

.title {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "poligon bold"
}

.title-m {
    font-size: 1.5em
}

.title-s {
    font-size: 1.3em
}

button.btn {
    font-size: 18px;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 3px solid transparent;
    font-size: 1.1em;
    background-color: #24abc5;
    margin-top: 2%;
    color: #fff;
    outline: none
}

button.btn:focus {
    outline: none
}

button.btn:hover {
    font-size: 1.3em
}

body header.header-main {
    background-color: #fefefe;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-content: center;
    overflow: visible;
    z-index: 31
}

header picture.logotipo {
    max-width: 150px;
    margin-left: 5%
}

header .logotipo img {
    width: 100%;
    max-width: 200px
}

header nav.header-nav {
    min-width: 60%;
    margin: 15px 5% 0 2%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    min-width: 60%;
    margin-right: 5%
}

header a.nav-item {
    border-right: 3px solid transparent;
    padding: 8px;
    height: 1.1em;
    transition: ease-in-out 200ms;
    display: block
}

header a.nav-item:not(.active):hover {
    border-right: 3px solid #323232
}

a.active {
    color: #24abc5;
    font-family: "poligon bold";
    border-left: 3px solid transparent
}

.emphasis-blue {
    color: #24abc5!important
}

nav.toolbar {
    position: absolute;
    z-index: 30;
    display: block;
    width: 40%;
    right: 0;
    top: 100%;
    background-color: #fefefe
}

nav.toolbar a.nav-item {
    padding: 15px 10px;
    margin: 5px 0;
    border-bottom: 3px solid transparent
}

nav.toolbar a.nav-item:not(.active):hover {
    padding: 15px 10px;
    margin: 5px 0;
    font-size: 1.15em;
    transition: ease-in-out 200ms;
    border-bottom: 3px solid #323232;
    background-color: #b2b7bb;
    color: #fefefe
}

.exit-menu {
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: -10px;
    right: 25px
}

buttom.btn {
    margin-top: 25%
}

header svg.nav-bottom {
    margin-right: 5%;
    width: 7%;
    transition: ease-in-out 400ms
}

svg.nav-bottom.inv {
    transform: rotate(90deg)
}

@media (min-width:771px) {
    header svg.nav-bottom {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
    header nav.navbottom {
        width: 65%
    }
    header picture.logotipo {
        width: 30%
    }
    header picture.logotipo svg {
        min-width: 150px
    }
}

main.plan {
    padding-top: 25vh;
    background-color: #323232;
    padding-bottom: 20px;
    background-image: url(../imgs/fondos/trama-bottom-unanimated.svg);
    background-repeat: repeat;
    background-size: 80%;
    background-position-x: center
}

main.plan img {
    max-width: 20%;
    margin-right: 25px
}

@media(max-width:425px) {
    main.plan img {
        min-width: 10%;
        margin-right: 25px
    }
}

main.plan header.lef {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    text-align: left
}

.plan section.fondo {
    animation: flotante 2s 3 backwards linear;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    min-height: 450px;
    border-radius: 5px;
    background-color: #f5f5f5
}

.plan section.fondo .desc p {
    font-size: 1.4em;
    text-align: left
}

.main.plan>a {
    background-color: #323232
}

section.featur {
    animation: flotante 2s 3 backwards linear;
    width: 60%;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

section.featur .header {
    animation: flotante 2s 3 backwards linear;
    width: 100%;
    margin: 50px auto;
}

section.featur .header p {
    color: #f5f5f5;
}

section article.feature {
    width: 25%;
    padding: 2%;
    margin-bottom: 50px;
    min-height: 150px;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: 200ms ease-in-out;
    text-align: left
}

section article.feature:hover,
section article.feature.premiun:hover {
    transform: scale(.9)
}

section article.feature:active,
section article.feature.premiun:active {
    background: rgba(100, 100, 100, .8);
    color: #f5f5f5
}

section article.feature:active .price-text,
section article.feature.premiun:active .price-text {
    color: #24abc5
}

section article.feature span.title-s {
    display: block;
    margin-bottom: 10px
}

section article.feature span .n-feature {
    font-weight: 700
}

section article.feature main .price-text {
    display: block;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 700;
    color: #24abc5;
    text-align: center
}

section article.feature.premiun {
    color: #f5f5f5;
    background-color: #24abc5
}

section article.feature.premiun main .price-text {
    color: #323232
}

section.CTA {
    padding-bottom: 50px
}

@media (max-width:768px) {
    .plan section.fondo {
        width: 70%
    }
    .plan .featur {
        width: 80%;
        justify-content: space-around
    }
    .plan .featur .feature {
        width: 45%
    }
}

@media (max-width:425px) {
    body {
        font-size: 16px
    }
    .plan .featur {
        width: 90%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .plan .featur .feature {
        width: 80%
    }
}

footer {
    background-color: #323232;
    color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding-top: 30px
}

footer section {
    margin-left: 10px
}

footer section.enterprise {
    padding: 0 18px;
    margin: 0;
    min-width: 30%;
    text-align: left
}

footer .enterprise svg {
    width: 80%
}

footer .enterprise p.description span.titulo {
    font-size: 1.5em;
    display: block
}

footer section.menu .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.contact .title-m {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.enterprise header p.description {
    margin: 0
}

footer section.menu {
    min-width: 25%
}

footer .menu ul {
    text-align: left;
    padding: 0 15% 18px;
    margin: 0;
    color: #f2f2f2
}

footer .menu ul li {
    list-style: none;
    margin: 0;
    padding: 0
}

footer .menu ul li:before {
    content: "+";
    color: #24abc5;
    font-size: 1.8em;
    font-weight: bolder
}

footer .menu ul li:hover:before {
    content: "+ ";
    color: #24abc5
}

footer .menu ul li.contact-prog {
    margin-top: 25%;
    font-size: .8em;
    color: #fff
}

footer section.menu ul.menu a {
    color: #fff
}

@media (max-width: 425px) {
    footer {
        flex-direction: column;
        padding-left: 5%
    }
    footer section {
        text-align: left;
        margin-top: 50px
    }
    footer section .title-m {
        margin-left: 20px
    }
}

@media (max-width:770px) {
    header nav.header-nav {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
}

div.wsbtn {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 15px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    transition: ease 400ms
}

div.wsbtn svg {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0 auto
}