@font-face {
    font-family: poligon;
    src: url(../fonts/Poligon-Light.ttf);
    font-display: swap
}

@font-face {
    font-family: "poligon bold";
    src: url(../fonts/Poligon-Bold.ttf);
    font-display: swap
}

body {
    font-family: poligon, sans-serif;
    text-align: center;
    color: #323232;
    font-size: 20px;
    line-height: 1.5;
    box-sizing: border-box
}

body h1,
h2,
h3,
h4,
h5 {
    font-family: poligon, Verdana, sans-serif
}

body * a {
    text-decoration: none;
    color: #323232
}

.title {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "poligon bold"
}

.title-m {
    font-size: 1.5em
}

.title-s {
    font-size: 1.3em
}

@media (max-width: 770px) {
    .title {
        font-size: 1.5em
    }
    .title-m {
        font-size: 1.3em
    }
    .title-s {
        font-size: 1.1em
    }
}

a[href^="mailto:"] {
    color: #f5f5f5
}

button.btn {
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    border: 3px solid transparent;
    font-size: 1.1em;
    background-color: #24abc5;
    margin-top: 2%;
    color: #fff;
    outline: none
}

button.btn:focus {
    outline: none
}

button.btn:hover {
    font-size: 1.3em
}

.emphasis-blue {
    color: #24abc5
}

body header.header-main {
    background-color: #fefefe;
    position: fixed;
    flex-wrap: nowrap;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-content: center;
    overflow: visible;
    z-index: 31
}

header picture.logotipo {
    max-width: 150px;
    margin-left: 5%
}

header .logotipo img {
    width: 100%;
    max-width: 200px
}

header nav.header-nav {
    min-width: 60%;
    margin: 15px 5% 0 2%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    min-width: 60%;
    margin-right: 5%
}

header a.nav-item {
    border-right: 3px solid transparent;
    padding: 8px;
    height: 1.1em;
    transition: ease-in-out 200ms;
    display: block
}

header a.nav-item:not(.active):hover {
    border-right: 3px solid #323232
}

a.active {
    color: #24abc5;
    font-family: "poligon bold";
    border-left: 3px solid transparent
}

nav.toolbar {
    position: absolute;
    z-index: 30;
    display: block;
    width: 40%;
    right: 0;
    top: 100%;
    background-color: #fefefe
}

nav.toolbar a.nav-item {
    padding: 15px 10px;
    margin: 5px 0;
    border-bottom: 3px solid transparent
}

nav.toolbar a.nav-item:not(.active):hover {
    padding: 15px 10px;
    margin: 5px 0;
    font-size: 1.15em;
    transition: ease-in-out 200ms;
    border-bottom: 3px solid #323232;
    background-color: #b2b7bb;
    color: #fefefe
}

.exit-menu {
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: -10px;
    right: 25px
}

header svg.nav-bottom {
    margin-right: 5%;
    width: 7%;
    transition: ease-in-out 400ms
}

svg.nav-bottom.inv {
    transform: rotate(90deg)
}

@media (min-width:830px) {
    header svg.nav-bottom {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
    header nav.navbottom {
        width: 65%
    }
    header picture.logotipo {
        width: 30%
    }
    header picture.logotipo svg {
        min-width: 150px
    }
}

@media (max-width:830px) {
    header nav.header-nav {
        display: none
    }
    header nav.header-nav span {
        display: none
    }
}

.servicios .ISP {
    padding-top: 60px;
    background-color: #323232;
    background-image: url(../imgs/services/marfix-isp.jpg);
    background-size: cover;
    color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    align-content: center
}

.servicios .Soporte {
    padding-top: 60px;
    background-color: #323232;
    background-image: url(../imgs/services/marfix-camaras.jpg);
    background-size: cover;
    color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    align-content: center
}

.servicios section header {
    max-width: 100%;
    padding: 5%;
    padding-right: 0
}

.servicios section .descripcion-servicio {
    padding: 5%;
    padding-top: 0;
    display: flex;
    justify-content: space-around
}

.servicios section .descripcion-servicio img {
    width: 20%
}

.servicios section.Soporte main {
    justify-content: flex-end
}

.servicios section .descripcion-servicio p {
    width: 50%;
    margin-top: 5%;
    text-align: left
}

.servicios section .contacto {
    background-color: rgba(50, 50, 50, .4);
    width: 100%;
    padding-bottom: 30px
}

@media (max-width: 425px) {
    .servicios section main {
        flex-direction: column-reverse
    }
    .servicios section.ISP main img {
        width: 100%;
        margin-top: 50px
    }
    .servicios section main p {
        width: 90%!important;
        margin-top: 50px
    }
}

footer {
    background-color: #323232;
    color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding-top: 30px
}

footer section {
    margin-left: 10px
}

footer section.enterprise {
    padding: 0 18px;
    margin: 0;
    min-width: 30%;
    text-align: left
}

footer .enterprise svg {
    width: 80%
}

footer .enterprise p.description span.titulo {
    font-size: 1.5em;
    display: block
}

footer section.menu .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.contact .title-m {
    margin: 0;
    font-weight: 500;
    font-size: 1.3em
}

footer section.enterprise header p.description {
    margin: 0
}

footer section.menu {
    min-width: 25%
}

footer .menu ul {
    text-align: left;
    padding: 0 15% 18px;
    margin: 0;
    color: #f2f2f2
}

footer .menu ul li {
    list-style: none;
    margin: 0;
    padding: 0
}

footer .menu ul li:before {
    content: "+";
    color: #24abc5;
    font-size: 1.8em;
    font-weight: bolder
}

footer .menu ul li:hover:before {
    content: "+ ";
    color: #24abc5
}

footer .menu ul li.contact-prog {
    margin-top: 25%;
    font-size: .8em;
    color: #fff
}

footer section.menu ul.menu a {
    color: #fff
}

@media (max-width: 425px) {
    footer {
        flex-direction: column;
        padding-left: 5%
    }
    footer section {
        text-align: left;
        margin-top: 50px
    }
    footer section .title-m {
        margin-left: 20px
    }
}

div.wsbtn {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 15px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    transition: ease 400ms
}

div.wsbtn svg {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0 auto
}